/*USE BOOTSTRAP EVENTUALLY*/
body {
	background-color: #888;
}

.row {
	position: relative;
	width: 95%;
	left: 2.5%;
	width: 100%;
	/*border: 5px solid blue;*/
}

.column {
	position: relative;
	float: left;
	/*left: 35px;*/
	/*top: 206px;*/
	width: 	49%;
	margin: 0.5%;

	/*border: 5px solid red;*/
}

.c3 {
	width: 	25%;
	margin: 1%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.lister {
	height: 450px;
	overflow: auto;
	padding: 10px;
	background: #FFFFFF;
	border: 1px solid #546DC5;
	box-sizing: border-box;
	box-shadow: 9px 9px 9px 1px rgba(84, 109, 197, 0.26);
	border-radius: 5px;
	/* box-shadow: inset 2px 4px 12px 2px rgba(84, 109, 197, 0.26); */
}

.button {
	/*width: 50px;*/
	/*height: 25px;*/
	max-width: 10%;
	font-size: 14px;
	display: inline-block;

	padding: 15px 32px;
	text-align: center;
	color: white;
	border: 1px solid #546DC5;
	/*box-sizing: border-box;*/
	box-shadow: 2px 3px 15px rgba(84, 109, 197, 0.25);
	border-radius: 5px;
}

.button:hover {
	background-color: #546DC5;
}

#log > .lister  {
	/*width: 50%;*/
	height: 150px;
}

#playlists {
	/*position: absolute;*/
	/*width: 675px;*/
	/*height: 518px;*/
	
/*	left: 35px;
	top: 206px;*/
}

#tracks {
	/*position: absolute;*/
	/*width: 675px;*/
	/*height: 518px;*/
	
/*	left: 739px;
	top: 206px;*/
}